<div id="<%= dom_id philosopher %>">
  <p>
    <strong>First name:</strong>
    <%= philosopher.fname %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= philosopher.lname %>
  </p>

  <p>
    <strong>Birth year:</strong>
    <%= philosopher.birth_year %>
  </p>

  <p>
    <strong>Death year:</strong>
    <%= philosopher.death_year %>
  </p>

  <p>
    <strong>Short bio:</strong>
    <%= philosopher.short_bio %>
  </p>

</div>
